code 3.txt
{
  "schemaVersion": "1.0.0.0",
  "actions": {
    "Get_all_user_subfolders": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": {
          "connectionName": "shared_sharepointonline",
          "operationId": "GetFiles_V2",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
        },
        "parameters": {
          "dataset": "_PLACEHOLDER_YOUR_SHAREPOINT_SITE_URL_",
          "table": "_PLACEHOLDER_YOUR_DOCUMENT_LIBRARY_GUID_",
          "folderPath": "_PLACEHOLDER_YOUR_PARENT_FOLDER_PATH_",
          "filter": "FSObjType eq 1"
        },
        "authentication": {
          "type": "Raw",
          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
        }
      },
      "runAfter": {}
    },
    "Apply_to_each_folder": {
      "type": "foreach",
      "foreach": "@outputs('Get_all_user_subfolders')?['body/value']",
      "actions": {
        "Search_for_user_by_folder_name": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365users",
              "operationId": "SearchUser_V2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365users"
            },
            "parameters": {
              "search": "@items('Apply_to_each_folder')?['Name']"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          },
          "runAfter": {}
        },
        "Check_if_exactly_one_user_was_found": {
          "type": "If",
          "expression": {
            "equals": [
              "@length(outputs('Search_for_user_by_folder_name')?['body/value'])",
              1
            ]
          },
          "actions": {
            "Apply_to_each_found_user": {
              "type": "foreach",
              "foreach": "@outputs('Search_for_user_by_folder_name')?['body/value']",
              "actions": {
                "Share_folder_with_the_found_user": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_sharepointonline",
                      "operationId": "GrantAccessToAnItemOrAFolder",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                    },
                    "parameters": {
                      "dataset": "_PLACEHOLDER_YOUR_SHAREPOINT_SITE_URL_",
                      "table": "_PLACEHOLDER_YOUR_DOCUMENT_LIBRARY_GUID_",
                      "id": "@items('Apply_to_each_folder')?['ID']",
                      "recipients": "@items('Apply_to_each_found_user')?['Mail']",
                      "role": "Editor",
                      "message": "Your personal folder has been set up and shared with you.",
                      "notify": true
                    },
                    "authentication": {
                      "type": "Raw",
                      "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {}
            }
          },
          "else": {
            "actions": {
              "Send_failure_notification_email": {
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_office365",
                    "operationId": "SendEmailV2",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                  },
                  "parameters": {
                    "emailMessage/To": "_PLACEHOLDER_YOUR_ADMIN_EMAIL_ADDRESS_",
                    "emailMessage/Subject": "[Flow Alert] Failed to share folder: @{items('Apply_to_each_folder')?['Name']}",
                    "emailMessage/Body": "<p>The Power Automate flow encountered an issue while processing a folder.<br>\n<br>\n<b>Folder Name:</b> @{items('Apply_to_each_folder')?['Name']}<br>\n<b>Reason:</b> The flow could not find exactly one matching user for this folder name. It found @{length(outputs('Search_for_user_by_folder_name')?['body/value'])} user(s).<br>\n<br>\nPlease manually check the folder name and share the permissions.</p>"
                  },
                  "authentication": {
                    "type": "Raw",
                    "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                  }
                },
                "runAfter": {}
              }
            }
          },
          "runAfter": {
            "Search_for_user_by_folder_name": [
              "Succeeded"
            ]
          }
        }
      },
      "runAfter": {
        "Get_all_user_subfolders": [
          "Succeeded"
        ]
      }
    }
  },
  "outputs": {},
  "triggers": {
    "manual": {
      "type": "Request",
      "kind": "Http",
      "inputs": {
        "schema": {}
      }
    }
  },
  "connectorReferences": {
    "shared_sharepointonline": {
      "connection": {
        "id": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline/connections/shared-sharepointonl-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
      }
    },
    "shared_office365users": {
      "connection": {
        "id": "/providers/Microsoft.PowerApps/apis/shared_office365users/connections/shared-office365us-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
      }
    },
    "shared_office365": {
      "connection": {
        "id": "/providers/Microsoft.PowerApps/apis/shared_office365/connections/shared-office365-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
      }
    }
  }
}